@model IEnumerable<DMVC.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(vvv => vvv.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(bbb => bbb.Age)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(uxxxx => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(iaaa => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
                @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
            </td>
        </tr>
    }    
    </table>
</body>
</html>
